.navbar {
  background-color: #3AA8B0;
  margin: 0;
  height: 70px;
  border-radius: 0px;
}

.navbar-brand {
  font-color: white;
}

body {
  background-color: #0B2B3B;
  height: 100%
}

#sidebar {
    border: 2px solid;
    border-radius: 30px;
    height: 550px;
    top:30px;
    background-color: white;
}

#content {
    border: 2px solid;
    border-radius: 30px;
    height: 550px;
    top: 30px;
    background-color: white;
}

.patient_info {
  font-size: 15px;
}

.field label, .form_title, .hint, .notice, .user_status, .form, .edit_patient, .patient_details {
  color: white;
}

.button {
  color: black;
}
#navbar-name {
  color: white;
}

input {
  color: black;
}

footer {
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

